{% extends 'todo/layout.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarea</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>

        <tbody>
            {% for tarea in tareas %}
            <tr>
                <th scope="row">{{ tarea.id }}</th>
                <td>{{ tarea }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'eliminar' tarea.id %}">Eliminar</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'editar' tarea.id %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}